@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
	themes: all;
	logs: false;
}

.callout-disabled {
	-webkit-touch-callout: none;
}
.callout-enabled {
	-webkit-touch-callout: default;
}
